<% if @continue.errors.any? %>
  <%= @continue.errors.count %>件のerrorが発生しました
  <ul>
    <% @continue.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">

<h1>New continue</h1>

<%=form_with model: @continue, url:continues_path, method: :post do |f| %>
  <h4>タイトル</h4>
  <%= f.text_area :title %>

  <h4>内容</h4>
  <%= f.text_area :post %>

  <%= f.submit '継続を開始する' %>

  <% end %>

</div>