<div>
  <span style="color:green;"><%= flash[:notice] %></span>
</div>

<div>
<h2>Title : <%= @continue.post %></h2>
</div>


<% if @continue.user == current_user %>
    <% unless @continue.continue_times.where(continue_id: params[:id], end_at: nil).exists? %>
        <%= button_to "開始",start_path(continue_id: params[:id]) %>
    <% else %>
        <%= button_to "終了",end_path(continue_id: params[:id]) %>
    <% end %>
<% end %>

<% @continue.continue_times.each.with_index(1) do |ct, i| %>
    <div class="row">
        <div class="col-md-4">
            開始: <%= i %>回目:
            <%= ct.start_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %>
        </div>

        <div class="col-md-4">
            修了:
            <%= ct.end_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') unless ct.end_at.nil? %>
        </div>

        <div class="col-md-4">
            継続時間:
            <% diff = ct.end_at - ct.start_at unless ct.end_at.nil? %>
            <% s = diff % 60 unless ct.end_at.nil? %>
            <% m = ((diff - s) / 60) % 60 unless ct.end_at.nil? %>
            <% h = ((diff - s - m * 60) / (60 ** 2)) % 24 unless ct.end_at.nil? %>
            <% d = ((diff - s - m * 60 - h * 60 ** 2) / (60**2 * 24)) unless ct.end_at.nil? %>
            <%= "#{d.to_i}日 #{h.to_i}時間#{m.to_i}分#{s.to_i}秒" unless ct.end_at.nil? %>


            <%#= "#{((ct.end_at - ct.start_at) / 86400).round}日" unless ct.end_at.nil? %>
            <%#= "#{((ct.end_at - ct.start_at) / 3600).round}時間" unless ct.end_at.nil? %>
            <%#= "#{((ct.end_at - ct.start_at) / 60).round}分" unless ct.end_at.nil? %>
        </div>
    </div>
<% end %>


<div>
<% if @continue.liked_by?(current_user) %>
    <%= link_to continue_likes_path(@continue), method: :delete do %>
        <span style="color:red;">❤︎</span>
        <%= @continue.likes.count %> いいね
    <% end %>
<% else %>
    <%= link_to continue_likes_path(@continue), method: :post do %>
        <span>♡︎</span>
        <%= @continue.likes.count %> いいね
    <% end %>
<% end %>
</div>

<div>
  <p>コメント件数:<%= @continue.comments.count %></p>
</div>

<table>
  <% @continue.comments.each do |comment| %>
 <tr>
   <td>
     <%= image_tag comment.user.get_profile_image(100,100) %>
     <%= comment.user.name %>
   </td>
   <td><%= comment.content %></td>

   <% if comment.user == current_user %>
      <td><%= link_to "削除", continue_comment_path(comment.continue, comment), method: :delete %><td>
   <% end %>
  </tr>
  <% end %>
</table>


<div>
  <%= form_with model: [@continue, @comment] do |f| %>
    <%= f.text_area :content, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

