<div>
  <span style="color:green;"><%= flash[:notice] %></span>
</div>

<div>
<p><%= @continue.post %></p>
</div>


<% if @continue.user == current_user %>
    <% unless @continue.continue_times.where(continue_id: params[:id], end_at: nil).exists? %>
        <%= button_to "開始",start_path(continue_id: params[:id]) %>
    <% else %>
        <%= button_to "終了",end_path(continue_id: params[:id]) %>
    <% end %>
<% end %>

<%# @start.each do |start| %>
<%#= start.created_at.strftime('%Y/%m/%d') %>
<%# end %>


<% @continue.continue_times.each.with_index(1) do |ct, i| %>
    <div class="row">
        <div class="col-md-6">
            開始: <%= i %>回目:
            <%= ct.start_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %>
        </div>
        <div class="col-md-6">
            修了:
            <%= ct.end_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') unless ct.end_at.nil? %>
            継続時間:
            <%= "#{((ct.end_at - ct.start_at) / 60).round}分" unless ct.end_at.nil? %>
        </div>
    </div>
<% end %>


<div>
<% if @continue.liked_by?(current_user) %>
    <%= link_to continue_likes_path(@continue), method: :delete do %>
        <span style="color:red;">❤︎</span>
        <%= @continue.likes.count %> いいね
    <% end %>
<% else %>
    <%= link_to continue_likes_path(@continue), method: :post do %>
        <span>♡︎</span>
        <%= @continue.likes.count %> いいね
    <% end %>
<% end %>
</div>

<div>
  <p>コメント件数:<%= @continue.comments.count %></p>
  <% @continue.comments.each do |comment| %>
   <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
   <%= comment.user.name %>
   <%= comment.content %>
   <% if comment.user == current_user %>
      <%= link_to "削除", continue_comment_path(comment.continue, comment), method: :delete %>
   <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@continue, @comment] do |f| %>
    <%= f.text_area :content, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

