<%= form_with model: @user, url:user_path(@user.id), method: :patch do |f| %>

<div class="container">
 <div class="row">
  <table>
   <tr>
    <td>
     <%= image_tag @user.get_profile_image(100,100) %>
     <%= f.file_field :profile_image, accept: "image/*" %>
    </td>
   </tr>
  </table>
 </div>
 
 <div class="row">
  <table>
   <tr>
    <div class="field">
     <th><%= f.label :ニックネーム %></th>
     <th><%= f.text_field :name %></th>
    </div>
   </tr>
  </table>
 </div>

<%= f.submit '編集内容を保存する' %>
<%= link_to "強制退会", admin_leave_path(@user.id) %>

<% end %>