<h1>マイページ</h1>

<td><%= link_to "いいね一覧",  favorite_path(@user.id) %></td>
<td><%= link_to "編集する",  edit_admin_user_path(@user.id) %></td>

<p><%= image_tag @user.get_profile_image(200,200) %></p>
<p>氏名</p>
<p><%= @user.name %></p>

<% @continues.each do |continue| %>
<p><%= link_to continue.title, continue_path(continue.id) %></p>
<p><%= link_to "#{continue.comments.count} コメント", continue_path(continue.id) %></p>
<p><%= link_to "削除", continue_path(continue.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>

 <% end %>