<%= form_with model: @user, url:user_path(current_user), method: :patch do |f| %>

<%= f.file_field :profile_image, accept: "image/*" %>

<div class="field">
  <%= f.label :ニックネーム %><br>
  <%= f.text_field :name %>
</div>

<p><%= f.submit '編集内容を保存する' %></p>
<%= link_to "退会する", leave_path(@user.id) %>

<% end %>