<!DOCTYPE html>
<html>
  <head>
    <title>PF</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/80957e461f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
    <% if admin_signed_in? %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      <%= link_to "継続一覧", admin_continues_path %>
      <%= link_to "ユーザー一覧", admin_users_path %>

      <div class="search_form">
    　<%= form_with url: admin_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>

      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
      </div>

    <% elsif user_signed_in? %>
      <i class="fa-solid fa-right-from-bracket"></i>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

      <i class="fa-sharp fa-light fa-indent"></i>
      <%= link_to "継続一覧", continues_path %>

      <i class="fa-solid fa-user"></i>
      <%= link_to "マイページ", user_path(current_user.id) %>

      <i class="fa-regular fa-plus"></i>
      <%= link_to "新規投稿", new_continue_path %>

      <i class="fa-solid fa-magnifying-glass"></i>
      <div class="search_form">
      <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>

      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
      </div>
      </div>
    </nav>

    <% else %>
      <%= link_to new_user_registration_path do %>
      <i class="fa-sharp fa-solid fa-user-plus"></i>新規登録
      <% end %>
      
      <%= link_to new_user_session_path do %>
      <i class="fa-sharp fa-solid fa-right-to-bracket"></i>ログイン
      <% end %>
      
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
